<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Elite Med</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
</head>
<body>
<div class="container">
  <h1>Админ-панель сайта EliteMed</h1>
  <h3>Доступные действия</h3>
  <p><a class="btn btn-primary" href="/admin/doctors" role="button">Сотрудники</a></p>
  <p><a class="btn btn-primary" href="/admin/users" role="button">Пользователи</a></p>
</div>
<footer class="footer">
  <div class="container">
    <p class="text-muted">Elite Med &copy; 2023</p>
  </div>
</footer>
</body>
</html>