<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Elite Med</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
</head>
<body>

<!-- Navigation bar -->
<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/home">ЭлитМед</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/home">Главная</a></li>
                <li class="active"><a href="/appointment_list">Мои записи</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/account">Личный кабинет</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <h1>Мои записи</h1>
    <div class="container" th:each="appointment: ${appointment_list}">
        <h3>Запись №<span th:text="${appointment.id}"></span></h3>
        <ul class="list-group">
            <li class="list-group-item">Время: <span th:text="${appointment.date}"></span></li>
            <li class="list-group-item">Врач: <span th:text="${appointment.doctor.name}"></span>, <span th:text="${appointment.doctor.position.toLowerCase()}"></span></li>
        </ul>
    </div>
</div>
<div class="container">
    <h1>Отменить запись</h1>
    <form action="#" th:action="@{/appointment_list}" method="post">
        <div class="form-group">
            <label for="appointment_id">Введите номер записи, которую вы хотите удалить: </label>
            <input type="number" class="form-control" id="appointment_id" name="appointment_id"/>
        </div>
        <div>
            <button type="submit" class="btn btn-primary">Удалить</button>
        </div>
        <div th:if="${param.error}">
            <p>Такой записи не существует или она не привязана к вашему аккаунту</p>
        </div>
    </form>
</div>
<!-- Footer -->
<footer class="footer">
    <div class="container">
        <p class="text-muted">Elite Med &copy; 2023</p>
    </div>
</footer>
</body>
</html>