<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Elite Med</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
</head>
<body>

<!-- Navigation bar -->
<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/home">ЭлитМед</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/home">Главная</a></li>
                <li><a href="/appointment_list">Мои записи</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/account">Личный кабинет</a></li>
            </ul>
        </div>
    </div>
</nav>

<!-- Jumbotron -->
<div class="jumbotron">
    <div class="container">
        <h1>Добро пожаловать в ЭлитМед!</h1>
        <p>Лучшие медицинские услуги</p>
        <p><a class="btn btn-primary btn-lg" href="/account" role="button">Записаться на прием</a></p>
    </div>
</div>

<!-- Services section -->
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h2>ЛУЧШИЕ ДОКТОРА</h2>
            <p>В клиниках организован контроль качества обслуживания – врачебная комиссия оценивает эффективность работы
                каждого врача и разбирает каждое обращение.</p>
        </div>
        <div class="col-md-4">
            <h2>КАЧЕСТВО И КОМФОРТ</h2>
            <p>Частная клиника всегда заботится о комфорте пациентов, поэтому вас ждут удобные и стильные зоны общего
                пользования, уютные кабинеты врачей и безукоризненная чистота и стерильность.</p>
        </div>
        <div class="col-md-4">
            <h2>УДОБСТВО</h2>
            <p>В платной клинике вас ждет сервис европейского уровня, вежливые и внимательные администраторы,
                приветливый персонал и заботливые врачи, каждый из которых является первоклассным профессионалом своего
                дела.</p>
        </div>
    </div>

</div>
<!-- Footer -->
<footer class="footer">
    <div class="container">
        <p class="text-muted">Elite Med &copy; 2023</p>
    </div>
</footer>
</body>
</html>